<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form fxLayout="column" fxLayoutAlign="center center" (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="E-Mail"
        #emailInput='ngModel'
        required
        email>
      <mat-error *ngIf="emailInput.invalid"> Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        type="password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        required
        matInput
        placeholder="Password">
        <mat-hint align="end"> {{ passwordInput.value?.length }} / 6</mat-hint>
      <mat-error *ngIf="passwordInput.invalid"> Please enter a valid password.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [max]="maxDate" ngModel name="birthdate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Signup</button>
  </form>
</mat-card>
