:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.example-card {
  max-width: 614px;
  margin: auto;
  /* margin-bottom: 5rem; */
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-image {
  display: block;
  margin-top: 0;
}

mat-card-header {
  float: left;
}

.button-st {
  float: right;
}


mat-card-title {
  margin-top: 3px;
  margin-bottom: 8px;
}
