<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>

<!-- <section *ngIf="posts.length > 0 && !(isLoading$ | async)"> -->
<section *ngIf="!(isLoading$ | async)">
  <mat-card class="example-card" fxFlex.xs="100%" *ngFor="let post of posts$ | async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <div class="button-st" *ngIf="userId === post.creator">
      <!-- TODO -->
      <!-- <div class="button-st" *ngIf="userIsAuthenticated && userId === post.creator"> -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEdit(post.id)">
        <mat-icon>dialpad</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item color="warn" (click)="onDelete(post)">
        <mat-icon>voicemail</mat-icon>
        <span>DELETE</span>
      </button>
    </mat-menu>
    <img class="example-image" mat-card-image [src]="post.image.url" [alt]="post.title">
    <mat-card-content>
      <p>
        {{ post.content }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite_border</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
<!-- <p class="info-text mat-body-1" *ngIf="posts$.length <= 0 && !(isLoading$ | async)">No posts added yet!</p> -->
