<mat-spinner *ngIf="isLoading"></mat-spinner>
<!-- <mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
        <a mat-button color="primary" [routerLink]="['/edit', post.id]">Edit</a>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)"
  *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p> -->

<section *ngIf="posts.length > 0 && !isLoading">
  <mat-card class="example-card" fxFlex.xs="100%" *ngFor="let post of posts">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>


    </mat-card-header>
    <div class="button-st" *ngIf="userIsAuthenticated && userId === post.creator">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(post.id)">
            <mat-icon>dialpad</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item color="warn" (click)="onDelete(post.id)">
            <mat-icon>voicemail</mat-icon>
            <span>DELETE</span>
          </button>
        </mat-menu>
    <img class="example-image" mat-card-image [src]="post.imagePath" [alt]="post.title">
    <mat-card-content>
      <p>
        {{ post.content }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite_border</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
